.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  margin: 1%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.card-image-portfolio {
  background-image: url("../../assets/img1.jpg");
}

.card-image-tic {
  background-image: url("../../assets/img2.jpg");
}

.card-image-tribute {
  background-image: url("../../assets/img3.png");
}

.card-image-quote {
  background-image: url("../../assets/img4.jpg");
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}

.card-details {
  color: var(--body-color);
  font-weight: 100;
}

.card-title {
  color: var(--title-color);
  font-size: 1.25rem;
  font-weight: 300; // letter-spacing: 2px;
  text-transform: uppercase;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: var(--body-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: lowercase;
  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.card-text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

@media (min-width: 40rem) {
  .card {
    // width: 48%;
  }
  .card-image::before {
    padding-top: 66.6%;
  }
}

@media (min-width: 56rem) {
  .card {
    // width: 30%;
  }
}
