@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

/* Landing container */
#landing {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  background-color: white;
}

header {
  display: grid;
}

.intro {
  display: grid;
  /* background-color: var(--main-color); */
  padding-bottom: 80px;
}

/* .intro>img{
  width: 100%;
} */

.intro h1{
  font-family: var(--main-font);
  margin-top: 30vh;
  color: var(--main-color);
  font-size: 3.5rem;
  text-align: center;
}

.intro .graphic-container {
  padding-top: 80px;
  text-align: center;
}

.intro .graphic-container img {
  width: 1090px;
}

.intro .strapline-container {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}

.intro .strapline-container p {
  margin-top: 60px;
}

.intro .strapline-container p {
  font-family: "Rubik-Light", sans-serif;
  font-size: 26px;
  line-height: 1.31;
  text-align: center;
  color: var(--title-color);
}

.intro .strapline-container img {
  margin-top: 60px;
  transform: rotate(90deg);
}

.arrow {
   fill: #ff3;
}
