<div class="section" id="landing">
  <header class="intro" id="intro">
    <h1>ALBERGUE SAN VICENTE</h1>
    <div class="graphic-container">
      <!-- <img src="../../assets/pattern.svg" alt="Albergue San Vicente de Paul"> -->
    </div>
    <div class="strapline-container">
      <p>
        Brindamos albergue digno y educativo para niños foráneos con capacidades diferentes que asisten a
        rehabilitación a la ciudad de Chihuahua y a los familiares que los acompañan.
      </p>
      <!-- <img class="arrow "src="./assets/down.svg" alt="arrow"> -->
      <svg xmlns="./assets/down.svg">
      </svg>
    </div>
  </header>
</div>
