// @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
/* Landing container */

#about {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  margin-top: 10vh;
  font-family: "Roboto";
}

.card-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center; // height: 100%;
  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 2rem;
  }
  h1 {
    margin: 0;
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--section-title-color);
  }
  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--body-color);
    font-weight: 100;
  }
}

.acent {
  color: var(--acent-color);
}

.container {
  padding: 1rem;
  height: 100%;
}

.info {
  width: 50%;
  @media (max-width: 600px) {
    width: 100%;
  }
  float: left;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 50%;
  @media (max-width: 600px) {
    margin-top: 2rem;
    width: 100%;
  }
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align horizontal */
  align-items: center;
  padding: 1rem;
  p {
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
    color: var(--body-color);
  }
}
