<!-- <header id="site-header">
  <a id="logo" href="#">
    <img src="http://fakeimg.pl/50/" alt="Avatar">
  </a>
  <nav id="main-navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header> -->
<header id="site-header">

  <nav class="docs-navbar-header">
    <a class="docs-button" routerLink="/">
      <img class="logo" src="http://fakeimg.pl/50/" alt="Avatar">
      <span>Resume</span>
    </a>
    <!-- Separador -->
    <div class="flex-spacer"></div>
    <a class="docs-button docs-navbar-hide-small">About </a>
    <a class="docs-button docs-navbar-hide-small">Skills </a>
    <a class="docs-button docs-navbar-hide-small">Projects </a>
    <a class="docs-button docs-navbar-hide-small">Achievements </a>
    <a class="docs-button docs-navbar-hide-small">Contact </a>

    <div mat-icon-button class="docs-button docs-navbar-show-small">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>About</span>
        </button>
        <button mat-menu-item>
          <span>Skills</span>
        </button>
        <button mat-menu-item>
          <span>Projects</span>
        </button>
        <button mat-menu-item>
          <span>Achievements</span>
        </button>
        <button mat-menu-item>
          <span>Contact</span>
        </button>
      </mat-menu>
    </div>
  </nav>
  <div class="separator"></div>
</header>
