<nav class="docs-navbar-header">
  <a class="docs-button" routerLink="/">
    <img class="logo" id="logo-nav" src="./assets/logo.png" alt="Avatar">
    <span>Resume</span>
  </a>
  <!-- Separador -->
  <div class="flex-spacer"></div>
  <div class="links">
    <a href="#about" class="docs-button docs-navbar-hide-small">About </a>
    <a href="#skills" class="docs-button docs-navbar-hide-small">Skills </a>
    <a href="#projects" class="docs-button docs-navbar-hide-small">Projects </a>
    <a href="#achievements" class="docs-button docs-navbar-hide-small">Achievements </a>
    <a href="#contact" class="docs-button docs-navbar-hide-small">Contact </a>
  </div>

  <div mat-icon-button class="docs-button docs-navbar-show-small">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a href="#about">
          About
        </a>
      </button>
      <button mat-menu-item>
        <a href="#skills">
          <span>Skills</span>
        </a>
      </button>
      <button mat-menu-item>
        <a href="#projects">
          <span>Projects</span>
        </a>
      </button>
      <button mat-menu-item>
        <a href="#achievements">
          <span>Achievements</span>
        </a>
      </button>
      <button mat-menu-item>
        <a href="#contact">
          <span>Contact</span>
        </a>
      </button>
    </mat-menu>
  </div>
</nav>
