.links {
  a {
    text-decoration: none;
    padding: 15px 20px;
    color: inherit;
  }
  a:hover {
    background: rgba(255, 255, 255, .50);
    border-radius: 3px;
    transition: 0.3s ease all;
  }
}

.logo {
  height: 48px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
  margin: 0 4px 3px 0;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  margin-right: 30px;
  vertical-align: middle;
  visibility: hidden;
}

.docs-navbar,
.docs-navbar-header {
  background-color: var(--main-color);
}

.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.docs-navbar-header > a {
  margin-left: auto;
}

.flex-spacer {
  flex-grow: 1;
}

.docs-navbar-show-small {
  display: none;
}

.hide {
  visibility: hidden;
}

.hide-logo {
  // display: none;
  // visibility: visible;
  visibility: hidden;
  animation: 1s fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    // visibility: hidden;
    opacity: 0;
  }
}

.show-logo {
  visibility: visible;
  opacity: 1;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    // visibility: visible;
    opacity: 1;
  }
}
/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .docs-navbar-hide-small {
    display: none;
  }
  .docs-navbar-show-small {
    display: block;
  }
  .docs-navbar--github-logo {
    margin: 0;
  }
}
