.card-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.card-content {
  padding: 1rem;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: var(--body-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: lowercase;
  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}

.btn-block {
  display: block;
  width: 100%;
}
@media (min-width: 40rem) {
  .card-image::before {
    padding-top: 66.6%;
  }
}
